html
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.quill-editor-wrap {
  position: relative;
  height: 100%;

  .hidden-input {
    display: none;
  }

  .ql-toolbar {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 42px;
    border-width: 1px 0 0;
    background-color: #fff;
  }

  .ql-container {
    overflow: auto;
    padding-bottom: 42 + 12px;
    min-height: 0;
    border: none;

    .ql-editor {
      height: 100%;
    }
  }
}
