html
body {
  margin: 0
  padding: 0
  height: 100%
}

.quill-editor-wrap {
  display: flex
  flex-direction: column
  height: 100%

  .hidden-input {
    display: none
  }

  .ql-toolbar {
    flex: none
  }

  .ql-container {
    flex: auto
    min-height: 0
  }

  .quill-image {
    position: relative

    &::after {
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      display: block
      background-color: rgba(#000, 0.4)
      color: #fff
    }

    &.failed::after {
      content: '上传失败'
    }
  }
}
