html
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.quill-editor-wrap {
  position: relative;
  height: 100%;

  .hidden-input {
    display: none;
  }

  .ql-toolbar {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 42px;
    border-width: 1px 0 0;
    background-color: #fff;
  }

  .ql-container {
    overflow: auto;
    padding-bottom: 42 + 1px;
    min-height: 0;
    border: none;

    .ql-editor {
      height: 100%;
      white-space: pre-wrap;

      	.image-container {
          width: 100%;
          position: relative;

          display: flex;
          align-items: flex-start;
          justify-content: center;

          .image-wrap {
            display: flex;
            align-items: flex-start;

            position: relative;

            .image {
              max-width: 100%;
            }

            .progress-bar {
              top: 0;
              left: 0;
              z-index: 1;
              position: absolute;

              width: 100%;
              height: 3px;
              overflow: hidden;

              background-color: rgba(89, 182, 215, .3);

              .progress {
                width: 0;
                height: 3px;
                transition: width 300ms;
                background-color: rgb(89, 182, 215);
              }
            }

            .remove, .error {
              position: absolute;

              user-select: none;

              display: flex;
              align-items: center;
              justify-content: center;
            }

            .remove {
              top: 4px;
              right: 4px;
              z-index: 3;

              width: 32px;
              height: 32px;

              cursor: pointer;

              font-size: 12px;
              color: #ffffff;

              &:before {
                width: 20px;
                height: 20px;
                content: "✕";
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 50%;
                background-color: rgba(0, 0, 0, .3);
              }
            }

            .error {
              top: 0;
              right: 0;
              z-index: 2;

              width: 100%;
              height: 100%;
              overflow: hidden;

              color: #F4504D;
              font-size: 12px;
              line-height: 20px;

              flex-direction: column;

              background-color: rgba(0, 0, 0, .6);

              visibility: hidden;
            }
          }

          &.fail {
            .progress-bar {
              visibility: hidden;
            }
            .error {
              visibility: visible;
            }
          }
        }

        .video-container {
          width: 100%;
          position: relative;

          display: flex;
          align-items: flex-start;
          justify-content: center;

          .progress-bar {
            top: 0;
            left: 0;
            z-index: 1;
            position: absolute;

            width: 100%;
            height: 3px;
            overflow: hidden;

            background-color: rgba(89, 182, 215, .3);

            .progress {
              width: 0;
              height: 3px;
              transition: width 300ms;
              background-color: rgb(89, 182, 215);
            }
          }

          .remove, .error {
            position: absolute;

            user-select: none;

            display: flex;
            align-items: center;
            justify-content: center;
          }

          .remove {
            top: 4px;
            right: 4px;
            z-index: 3;

            width: 32px;
            height: 32px;

            cursor: pointer;

            font-size: 12px;
            color: #ffffff;

            &:before {
              width: 20px;
              height: 20px;
              content: "✕";
              display: flex;
              align-items: center;
              justify-content: center;

              border-radius: 50%;
              background-color: rgba(0, 0, 0, .3);
            }
          }

          .error {
            top: 0;
            right: 0;
            z-index: 2;

            width: 100%;
            height: 100%;
            overflow: hidden;

            color: #F4504D;
            font-size: 12px;
            line-height: 20px;

            flex-direction: column;

            background-color: rgba(0, 0, 0, .6);

            visibility: hidden;
          }

          &.fail {
            .progress-bar {
              visibility: hidden;
            }
            .error {
              visibility: visible;
            }
          }
        }
    }
  }

  .ql-editor.ql-blank::before {
    position: absolute;
    right: 15px;
    left: 15px;
    color: rgba(204, 204, 204, 1);
    content: attr(data-placeholder);
    font-style: normal;
    pointer-events: none;
  }

  .ql-tooltip {
    z-index: 20;
  }

  .ql-snow .ql-tooltip[data-mode=link]::before {
    content: '请输入链接地址:';
  }

  .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
    padding-right: 0;
    border-right: 0;
    content: '保存';
  }

  .ql-snow .ql-tooltip::before {
    margin-right: 8px;
    content: '预览地址:';
    line-height: 26px;
  }

  .ql-snow .ql-tooltip a.ql-action::after {
    margin-left: 16px;
    padding-right: 8px;
    border-right: 1px solid #ccc;
    content: '编辑';
  }

  .ql-snow .ql-tooltip a.ql-remove::before {
    margin-left: 8px;
    content: '移除';
  }
}
