// 这里的样式也会影响到移动端的展示, 谨慎修改
html, body {
	margin: 0;
}

.ql-editor {
	padding: 15px;
	color: #666666;
	font-size: 14px;
	line-height: 24px;
	white-space: normal;

	a {
		color: rgb(89, 182, 215);
		text-decoration: underline;
	}

	h1 {
		font-size: 18px;
		line-height: 28px;
	}

	img {
		margin: auto;
		display: block;
		max-width: 100%;
	}

	video {
		margin: auto;
		display: block;
		width: 100%;
		max-height: width;
		background-color: #000;
	}

	& > p, & > h1, & > img, & > video, & > div, & > section {
		margin-bottom: 12px;
	}

	& > blockquote {
		margin: 0 0 12px 0 !important;
		border-left: 2px solid #ccc !important;
		padding-left: 12px !important;
	}

	& > *:last-child{
		margin-bottom: 0 !important;
	}
}
