// 这里的样式也会影响到移动端的展示, 谨慎修改
body {
	margin: 0;
}

.ql-editor {
	padding: 12px 15px;
	height: auto;
	color: rgba(102, 102, 102, 1);
	font-size: 14px;

	img {
		max-width: 100%;
	}
	.video-container {
		position: relative;
		width: 100%;
		
	}
	.video-container video {
		max-width: 100%;
	}
	.video-container .uploadFail {
		position: absolute;	
		right: 0;
		bottom: 0;
		height 24px;
		padding: 5px;
		font-size: 12px;
		line-height: 1;
		background-color: red;
		color: #fff;
		z-index: 1000;
	}
	

	.quill-image, .quill-video {
		display: block;
		margin: auto;
	}
	.show {
		display: block;
	}
	.hidden {
		display: none;
	}
}
