// 这里的样式也会影响到移动端的展示, 谨慎修改
body {
	margin: 0;
}

.ql-editor {
	padding: 12px 15px;
	height: auto;
	font-size: 14px;

	img {
		max-width: 100%;
	}

	.quill-image {
		display: block;
		margin: auto;
	}
}
